<%- include('includes/header') %>

<div class="container py-md-5 container--narrow">
    <div class="text-center">
      <h2>Hello <strong><%= user.username %></strong>, your feed is empty.</h2>
      <p class="lead text-muted">Your feed displays your movie lists that you've created. To begin click on submit movie and add some movies. Once you have 2 more movies you can have Isabelle Fetch you a random movie to watch.</p>
    </div>  
</div>

<%- include('includes/footer') %>